<div class="container is-max-desktop">
  <%= render partial: "layouts/crumb",
                   object: @product %>
  <% if @product.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @product.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @product.name %></h1>
  <h2>Price: $<%= @product.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Core Count: <%= @product.core_count %></li>
    <li>Core Clock: <%= @product.core_clock %></li>
    <li>Boost Clock: <%= @product.boost_clock %></li>
    <li>Integrated Graphics: <%= @product.integrated_graphics %></li>
    <li>SMT: <%= @product.smt %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
  </ul>
</div>