<div class="is-flex">
  <%= render partial: "layouts/sidenav",
              object: @categories %>

  <%= form_with(url: cpus_path, method: :get, local: true, class: "") do |form| %>
    <%= form.select :filter, options_for_select([
      ['All', 'all'],
      ['New', 'new'],
      ['Recently Updated', 'recently updated']
    ]), {}, class: ""%>
    <%= form.submit 'Search', class: "" %>
  <% end %>

  <main class="box" >
    <%= render partial: "layouts/crumb",
                   object: @products %>
    <% @products.each_with_index do |cpu, index| %>
      <% if index % 5 == 0 %>
          <section class="columns">
              <%= render partial: "layouts/product",
                          object: cpu %>
      <% else %>
              <%= render partial: "layouts/product",
                          object: cpu %>
      <% end %>
      <% if index % 5 == 4 %>
          </section>
      <% end %>
    <% end %>
    <%= paginate @products %>
  </main>
</div>
