<div class="container is-max-desktop">
  <h1>Name: <%= @videocard.name %></h1>
  <h2>Price: $<%= @videocard.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Chipset: <%= @videocard.chipset %></li>
    <li>Memory: <%= @videocard.memory %> GB </li>
    <li>Core Clock: <%= @videocard.core_clock %> GHz </li>
    <li>Boost Clock: <%= @videocard.boost_clock %> GHz </li>
    <li>Color: <%= @videocard.color %></li>
    <li>Length: <%= @videocard.length %> cm</li>
    <li>Category ID: <%= link_to @categoryname.first.name, category_path(@videocard.category_id) %></li>
  </ul>
</div>