<div class="container is-max-desktop">
  <h1>Order Product ID: <%= @orderproduct.id %></h1>
  <h2>Details:</h2>
  <ul>
    <li>Product ID: <%= @orderproduct.product_id %></li>
    <li>Order ID: <%= @orderproduct.order_id %></li>
    <li>Quantity: <%= @orderproduct.quantity %></li>
    <li>Price: <%= @orderproduct.price %></li>
  </ul>
</div>