<div class="container is-max-desktop">
  <%= render partial: "layouts/crumb",
                   object: @products %>
  <% if @product.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @product.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @product.name %></h1>
  <h2>Price: $<%= @product.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Tracking Method: <%= @product.tracking_method %></li>
    <li>Connection Type: <%= @product.connection_type %></li>
    <li>Max DPI: <%= @product.max_dpi %></li>
    <li>Hand Orientation: <%= @product.hand_orientation %></li>
    <li>Colour: <%= @product.color %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
  </ul>
</div>