<div class="container is-max-desktop">
  <%= render partial: "layouts/crumb",
                   object: @product %>
  <% if @product.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @product.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @product.name %></h1>
  <h2>Price: $<%= @product.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Resolutions: <%= @product.resolutions %></li>
    <li>Connection: <%= @product.connection %></li>
    <li>Focus Type: <%= @product.focus_type %></li>
    <li>OS: <%= @product.os %> </li>
    <li>FOV: <%= @product.fov %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
  </ul>
</div>