<div class="container is-max-desktop">
  <%= render partial: "layouts/crumb",
                   object: @products %>
  <% if @product.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @product.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @product.name %></h1>
  <h2>Price: $<%= @product.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>BD: <%= @product.bd %></li>
    <lI>DVD: <%= @product.dvd %></li>
    <li>CD: <%= @product.cd %></li>
    <li>BD Write Speed: <%= @product.bd_write %></li>
    <li>DVD Write Speed: <%= @product.dvd_write %></li>
    <li>CD Write Speed: <%= @product.cd_write %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
  </ul>
</div>