<div class="container is-max-desktop">
  <% if @powersupply.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @powersupply.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @powersupply.name %></h1>
  <h2>Price: $<%= @powersupply.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Type: <%= @powersupply.powersupplytype%></li>
    <li>Efficiency: <%= @powersupply.efficiency %></li>
    <li>Wattage: <%= @powersupply.wattage %></li>
    <li>Modular: <%= @powersupply.modular %></li>
    <li>Colour: <%= @powersupply.color %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, category_path(@powersupply.category_id) %></li>
  </ul>
</div>