<div class="container is-max-desktop">
  <h1>Name: <%= @customer.first_name %> <%= @customer.last_name %></h1>
  <h3>Details:</h3>
  <ul>
    <li>Email: <%=@customer.email %></li>
    <li>Phone Number: <%= @customer.phone_number %></li>
    <li>Address: <%= @customer.address %></li>
  </ul>
</div>