<div class="container is-max-desktop">
  <%= render partial: "layouts/crumb",
                   object: @product %>
  <% if @product.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @product.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @product.name %></h1>
  <h2>Price: $<%= @product.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Style: <%= @product.style %></li>
    <li>Switches: <%= @product.switches %></li>
    <li>Backlit Colour: <%= @product.backlit_color %></li>
    <% if(@product.tenkeyless == true ) %>
      <li>Ten-Keyless: Yes</li>
    <% elsif(@product.tenkeyless == false) %>
      <li>Ten-Keyless: No</li>
    <% end %>
    <li>Connection Type: <%= @product.connection_type %></li>
    <li>Colour: <%= @product.color %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
  </ul>
</div>