<div class="container is-max-desktop">
  <% if @ram.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @ram.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @ram.name %></h1>
  <h2>Price: $<%= @ram.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Speed: <%= @ram.speed %></li>
    <li>Price per GB: <%= @ram.price_per_gb %></li>
    <li>Color: <%= @ram.color %></li>
    <li>First Word Latency: <%= @ram.first_word_latency %></li>
    <li>CAS Latency: <%= @ram.cas_latency %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, category_path(@ram.category_id) %></li>
  </ul>
</div>