<div class="container is-max-desktop">
  <%= render partial: "layouts/crumb",
                   object: @product %>
  <% if @product.image.present? %>
    <div class="card-image">
      <figure>
        <%= image_tag @product.image, size: "200x200"%>
      </figure>
    </div>
  <% end %>
  <h1>Name: <%= @product.name %></h1>
  <h2>Price: $<%= @product.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Speed: <%= @product.speed %></li>
    <li>Price per GB: <%= @product.price_per_gb %></li>
    <li>Color: <%= @product.color %></li>
    <li>First Word Latency: <%= @product.first_word_latency %></li>
    <li>CAS Latency: <%= @product.cas_latency %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
  </ul>
</div>