<div class="is-flex">
    <%= render partial: "layouts/sidenav",
               object: @categories %>

    <main class="box" >
        <%= form_with(url: cases_path, method: :get, local: true, class: "") do |form| %>
        <%= form.select :filter, options_for_select([
        ['All', 'all'],
        ['New', 'new'],
        ['Recently Updated', 'recently updated']
        ]), {}, class: ""%>
        <%= form.submit 'Search', class: "" %>
        <% end %>
        <p><%= @message %></p>

        <%= render partial: "layouts/crumb",
                   object: @products%>
        <% @products.each_with_index do |product, index| %>
            <% if index % 5 == 0 %>
                <section class="columns">
                    <%= render partial: "layouts/product",
                               object: product %>
            <% else %>
                    <%= render partial: "layouts/product",
                               object: product %>
            <% end %>
            <% if index % 5 == 4 %>
                </section>
            <% end %>
        <% end %>
        <%= paginate @products%>
    </main>
</div>

