<div class="container is-max-desktop">
  <h1>Name: <%= @speaker.name %></h1>
  <h2>Price: $<%= @speaker.price %></h2>
  <h3>Specifications:</h3>
  <ul>
    <li>Configuration: <%= @speaker.configuration %></li>
    <li>Wattage: <%= @speaker.wattage %></li>
    <li>Frequency: <%= @speaker.frequency %></li>
    <li>Colour: <%= @speaker.color %></li>
    <li>Category ID: <%= link_to @categoryname.first.name, category_path(@speaker.category_id) %></li>
  </ul>
</div>