<nav class="breadcrumb">
    <ul>
        <% if @products %>
            <% if @categoryname %>
                <li><%= link_to "Home", root_path%></li>
                <li class="is-active"><%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
            <% else %>
                <li class="is-active"><%= link_to "Home", root_path %></li>
            <% end %>
        <% elsif @about_business %>
            <li class="is-active"><%= link_to "About Us", about_us_path %></li>
        <% elsif @contact_business %>
            <li class="is-active"><%= link_to "Contact Us", contact_us_path %></li>
        <% elsif @results%>
            <li class="is-active"><%= link_to "Search", search_index_path %></li>
            <li class="is-active"><%= params[:keywords]%></li>
        <% else %>
            <% if @product %>
                    <li><%= link_to "Home", root_path%></li>
                    <li><%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
                    <li class="is-active"><%= link_to @product.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}/#{@product.id}"%></li>
                <% else %>
                    <li class="is-active"><%= link_to @categoryname.first.name, "/#{@categoryname.first.name.downcase.tr(" ", "_")}" %></li>
                <% end %>
        <% end %>
    </ul> 
</nav>