<div class="column is-one-fifth">
    <div class="card">
        <div class="card-content">
            <% if product.image.present? %>
                <div class="card-image">
                    <figure>
                        <%= image_tag product.image, size: "200x200" %>
                    </figure>
                </div>
            <% end %>
            <p>Name: <%= link_to product.name, product %></p>
            <p>Price: $<%= product.price %></p> 
            <hr class="divider" >
            <%= form_with url: cart_index_path, class: "add-product", method: :post do %>
                <%= hidden_field_tag(:category, product.category.name)%>
                <%= hidden_field_tag(:id, product.id)%>
                <%= label_tag('quantity')%>
                <%= number_field_tag(:quantity, 1, in:1..5, step: 1)%>
                <%= button_tag 'Add to Cart' %>
            <% end %>
        </div>
    </div>
</div>